{:paths ["src" "resources"]
 :deps {com.fulcrologic/fulcro {:mvn/version "3.1.20"}
        com.fulcrologic/fulcro-garden-css {:mvn/version "3.0.7"}
        avisi-apps/fulcro-i18n {:git/url "git@github.com:avisi-apps/fulcro-i18n.git"
                                :sha "919d9bb49f6392a053e7dbbe5f48e8c7ce4ffe9a"}
        cljs-bean {:mvn/version "1.5.0"}}
 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {thheller/shadow-cljs {:mvn/version "2.8.81"}
                              nubank/workspaces {:mvn/version "1.0.14"}
                              com.wsscode/pathom {:mvn/version "2.3.0-alpha4"}
                              binaryage/devtools {:mvn/version "0.9.11"}}}
           :lint {:extra-deps {avisi-apps/fmt {:git/url "git@github.com:avisi-apps/fmt.git"
                                               :sha "b41d298f52cae6fd91aa908b36699a46ac38bc05"}}
                  :main-opts ["-m" "avisi-apps.fmt.main" "check"]}
           :fix {:main-opts ["-m" "avisi-apps.fmt.main" "fix"]}}}
