{:paths ["src" "resources"]
 :deps {com.fulcrologic/fulcro {:mvn/version "3.1.15"}
        com.fulcrologic/fulcro-garden-css {:mvn/version "3.0.7"}
        com.fulcrologic/fulcro-i18n {:mvn/version "0.0.1-SNAPSHOT"}
        cljs-bean {:mvn/version "1.5.0"}}
 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {thheller/shadow-cljs {:mvn/version "2.8.81"}
                              nubank/workspaces {:mvn/version "1.0.14"}
                              com.wsscode/pathom {:mvn/version "2.3.0-alpha4"}
                              binaryage/devtools {:mvn/version "0.9.11"}}}}}
