{:deps {:aliases [:dev]}
 :nrepl {:port 9845}
 :dev-http {3020 ["public/workspaces" "classpath:fulcro-atlaskit"]}
 :builds {:cards {:target nubank.workspaces.shadow-cljs.target
                  :ns-regexp "-(test|cards)$"
                  :output-dir "public/workspaces/js"
                  :asset-path "/js"
                  :compiler-options {:static-fns false
                                     :external-config {:guardrails {:throw? false}}
                                     :closure-defines {'goog.DEBUG true}
                                     :output-feature-set :es-next}
                  :devtools {:preloads [fulcro-atlaskit.preload.debug com.fulcrologic.fulcro.inspect.preload]}}}}
