{:deps {:aliases [:dev]}
 :nrepl {:port 9845}
 :builds {:cards {:target nubank.workspaces.shadow-cljs.target
                  :ns-regexp "-(test|cards)$"
                  :output-dir "public/workspaces/js"
                  :asset-path "/js"
                  :compiler-options {:static-fns false
                                     :external-config {:guardrails {:throw? true :emit-spec? true}}}
                  :devtools {:preloads [fulcro.inspect.preload]
                             :http-root "public/workspaces"
                             :http-port 3000
                             :http-resource-root "."}
                  :preloads []}}}
